
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
body { background: linear-gradient(107deg, #fafdff 0%, #e5eefc 100%); }
.auth-absolute-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: none;
    z-index: 10;
}
.auth-modern-card {
    background: rgba(240,240,240) !important;
    box-shadow: 0 10px 32px 0 #1976d222, 0 2px 10px 0 #00000012 !important;
    border-radius: 2.5em !important;
    border: 1.7px solid #e3eaf1 !important;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    overflow: hidden;
    margin: auto;
    align-items:center;
    max-width: 410px;
    width: 100%;
}
.auth-modern-title {
    background: none !important;
    color: #1976d2 !important;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 11px;
    width: fit-content;
    display: block;
}
.auth-modern-input input, .auth-modern-input .q-field__native { 
    background: transparent !important; 
    border-radius: 0 !important; 
    font-size: 1.09em; 
    min-height: 30px; 
    border: none solid transparent !important; 
    box-shadow: none !important; 
    width: 100% !important; 
    box-sizing: border-box !important
} 
.auth-modern-input.q-field--focused .q-field__control { 
    border-color: #1976d2 !important; 
}
    
.auth-modern-btn {
    font-size: 1.12em !important;
    font-weight: 600;
    border-radius: 1.8em !important;
    background: linear-gradient(90deg, #2196f3 70%, #1976d2 100%) !important;
    color: #fff !important;
    box-shadow: 0 4px 16px 0 #2196f341;
    padding: 0.95em 0 !important;
    margin-top: 10px;
    width: 100%;
    transition: background .17s, box-shadow .16s, transform .14s;
    border: none !important;
}
.auth-modern-btn:hover, .auth-modern-btn:focus {
    background: linear-gradient(90deg, #1976d2 50%, #2196f3 100%) !important;
    color: #fff !important;
    box-shadow: 0 6px 22px 0 #1976d249;
    outline: none;
    transform: scale(1.035);
}
.auth-modern-link {
    font-size:1.04em !important;
    color: #1976d2 !important;
    font-weight: 500;
    text-align: center;
    border-radius: 2.2em;
    background: transparent !important;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100% !important;
    transition: color .13s, background .13s;
}
.auth-modern-link:hover {
    text-decoration: underline !important;
    color: #0d47a1 !important;
    background: #e3f1fd !important;
}

